@import url(root.css);

body{
    margin-left: 4%; /*margin espacio alrededor del elemento | afuera*/
    margin-right: 4%;

    font-family: "Rubik", serif;
    font-style: normal;
    overflow-x: hidden;
}

/*===============================================================*/
/*                      CONTENEDOR DEL NAV                       */
/*===============================================================*/

.nav-contenido{
    margin-bottom: 20px; /*margin espacio alrededor del elemento | afuera*/

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    border-bottom: 2px solid gray;

    position: relative;
    z-index: 10;
}

.nav-logo{
    /*margin-left: 10px;*/
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.nav-logo p{
    margin-right: 15px;
}

.nav-sublogo-parte-uno{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--color-principal);
    color: var(--color-white);

    font-size: 30px;
    font-weight: bold;


    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nav-sublogo-parte-dos{
    color: var(--color-principal);
    font-size: 40px;
    font-weight: bold;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.nav-letras ul{
    list-style-type: none;
    display: flex;
}

.nav-letras li{
    font-size: 16px;
    padding-left: 40px;
    color: var(--color-gray);
    cursor: pointer;
    transition: color 0.5s;
}

.nav-letras li:hover{
    color: var(--color-principal);
}

.nav-hamburguesa{
    padding-top: 22px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    /*margin-right: 10px;*/
    background-color:var(--color-secundary);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav-hamburguesa button{
    all: unset;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.nav-hamburguesa .nav-hamburguesa-rayas{
    width: 30px;
    height: 2.5px;
    background-color: var(--color-principal);

    display: flex;
    justify-content: center;
    align-items: center;
}

/*===============================================================*/
/*                                                               */
/*===============================================================*/




/*===============================================================*/
/*                 CONTENEDOR DE LA ESTRUCTURA 1                 */
/*===============================================================*/


/* DE LA ESTRUCTURA DEL CONTENEDOR 1 ESTO ES LA PARTE 1*/
/*=====================================================*/
.container-uno-estructura{
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
/*
    position: relative; /* Para que la imagen se posicione con referencia a este contenedor 
    justify-content: flex-start; /* Para que la parte uno quede alineada a la izquierda
*/
}

.container-uno-parte-uno-titulo{
    font-size: 50px;
}

.container-uno-parte-uno-titulo h1{
    font-size: 90px;
    color: var(--color-most-used);
    margin: 0;
}

.container-uno-parte-uno-titulo span{
    font-family: "Abril Fatface", serif;
    font-weight: bold;
}

.container-uno-parte-uno-subtitulo{
    font-size: 20px;
    font-weight: bold;
    color: #6c6e7a;
}

.container-uno-parte-uno-botones{
    margin-top: 50px;
}

.container-uno-parte-uno-botones button{
    background-color: var(--color-white);
    color: var(--color-principal);
    border: 1px solid var(--color-principal);
    border-radius: 10px;
    padding: 0 30px;
    margin-right: 40px;
    cursor: pointer;
}

.container-uno-parte-uno-botones button:hover{
    background-color: var(--color-principal);
    color: var(--color-white);
}

.container-uno-parte-uno-botones button p{
    font-weight: bold;
    font-size: 16px;
}

.container-uno-parte-uno-iconos-estructura{
    margin-top: 40px;
}

.container-uno-parte-uno-iconos-texto{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #807f84;
    font-weight: bold;
}

.container-uno-parte-uno-iconos-fila-uno{
    display: flex;
}

.container-uno-parte-uno-iconos-fila-uno, .container-uno-parte-uno-iconos-fila-dos{
    position: relative;
    right: 30px;
}

.container-uno-parte-uno-iconos-fila-uno ul, .container-uno-parte-uno-iconos-fila-dos ul{
    list-style: none;
    display: flex;
}

.container-uno-parte-uno-iconos-fila-uno li, .container-uno-parte-uno-iconos-fila-dos li{
    padding-right: 60px;
    display: flex;
    align-items: center;
}

.container-uno-parte-uno-iconos-fila-dos{
    margin-top: -15px;
}

/* DE LA ESTRUCTURA DEL CONTENEDOR 1 ESTO ES LA PARTE 2*/
/*=====================================================*/
.container-uno-parte-dos{

    position: absolute;
    right: 0;
}

.container-uno-parte-dos-imagen-carta-uno{
    top: -20px;
    right: 90px;
    position: absolute;
}

.container-uno-parte-dos-imagen-carta-uno img{
    width: 300px;
    height: 260px;
    transform: rotate(-3deg);
}

.container-uno-parte-dos-imagen-robot{
    padding-top: 40px;
}

.container-uno-parte-dos-imagen-robot img{
    width: 55rem;
    height: 40rem;
}

.container-uno-parte-dos-imagen-carta-dos{
    top: 360px;
    right: 450px;
    position: absolute;
    transform: rotate(-2deg);
}

.container-uno-parte-dos-imagen-carta-dos img{
    width: 280px;
    height: 290px;
}

/*===============================================================*/
/*                                                               */
/*===============================================================*/




/*===============================================================*/
/*                 CONTENEDOR DE LA ESTRUCTURA 2                 */
/*===============================================================*/


.container-dos-estructura{
    border-radius: 15px;
    margin-left: -2%;
    margin-right: -2%;


    padding-top: 30px;
    padding-bottom: 20px;

    margin-top: 80px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-principal);

    position: relative; /* Para que el círculo se posicione relativo a este contenedor */
    overflow: hidden; /* Esto oculta la parte del círculo que sobresalga */

}

.container-dos-parte-uno{
    position: relative;
    left: 100px;

}

.container-dos-parte-uno img{
    width: 300px;
    height: 290px;
}

.container-dos-parte-dos{
    position: relative; /* Para que sus elementos internos se posicionen con respecto a él */
    left: 10px;
}

.container-dos-parte-dos-letras{
    right: 200px;
    top: 30px;

    position: relative;
    z-index: 2; /* Asegura que este texto esté por encima del círculo */
    padding: 10px;
}

.container-dos-parte-dos-letras-subtitulo, .container-dos-parte-dos-letras-descripcion{
    color: var(--color-white);
}

.container-dos-parte-dos-letras-subtitulo{
    font-size: 25px;
}

.container-dos-parte-dos-letras-subtitulo h2{
    margin: 0;
}


.container-dos-parte-dos-letras-descripcion{
    font-size: 15px;
    margin-top: 20px;    
    margin-bottom: 20px;
}

.container-dos-parte-dos-letras-descripcion p{
    margin: 0;
}

.circulo-exterior{
    width: 350px;
    height: 320px;
    border: 60px solid #2d56ec; /* Borde grueso */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    /*align-items: center;*/

    position: absolute;
    top: 10px;
    right: -30px;
    z-index: 1; /*menos que el container 2 letras para que quede atras*/
}

.circulo-interior{
    width: 120px;
    height: 110px;
    border: 60px solid #2d56ec; /* Otro borde grueso */
    border-radius: 50%;
    margin-top: 25px;
}



/*===============================================================*/
/*                                                               */
/*===============================================================*/




/*===============================================================*/
/*                 CONTENEDOR DE LA ESTRUCTURA 3                 */
/*===============================================================*/



.container-tres-estructura{
    padding-top: 40px;
    padding-bottom: 20rem;

    margin-bottom: 80px;

    display: flex;
/*
    position: relative; /* Para que la imagen se posicione con referencia a este contenedor 
    justify-content: flex-start; /* Para que la parte uno quede alineada a la izquierda
*/
}

.container-tres-parte-uno{
    position: absolute;
    top: 82rem;
    left: -450px;
    transform: rotate(20deg);
}

.container-tres-parte-uno img{
    width: 80rem;
    height: 40rem;
    z-index: 1;
}

.container-tres-parte-dos{
    position: absolute;
    right: 0;

    transform: translateX(-8rem);
}

.container-tres-parte-dos p{
    font-weight: bold;
    margin: 0;
    font-size: 28px;
    font-stretch: expanded;
}

.container-tres-parte-dos span{
    color: var(--color-gray);
}

.container-tres-parte-dos-texto-uno p{
    color: var(--color-most-used);
}

.container-tres-parte-dos-texto-uno{
    margin-top: 35px;
}

.container-tres-parte-dos-texto-dos{
    margin-top: 20px;
}


/*===============================================================*/
/*                                                               */
/*===============================================================*/





/*===============================================================*/
/*                 CONTENEDOR DE LA ESTRUCTURA 4                 */
/*===============================================================*/



.container-cuatro-estructura{
    display: flex;

    position: relative;
    z-index: 2;
    
    margin-left: -2%;
    margin-right: -2%;


    padding-top: 20px;
    padding-bottom: 20rem; 

    margin-top: 10px;
    margin-bottom: 10px;

    background-color: #ffffff;
}

.container-cuatro-parte-uno{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 15rem;
    padding-right: 20rem;
    
    position: relative;
}

.container-cuatro-parte-uno-textos {
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    gap: 70px;
}

.container-cuatro-parte-uno-texto-uno {
    font-size: 30px;
    text-align: left;
    white-space: nowrap;
}

.container-cuatro-parte-uno-texto-uno h3, .container-cuatro-parte-uno-texto-dos p{
    margin: 0px;
}


.container-cuatro-parte-uno-texto-dos{
    font-size: 14px;
    text-align: left;
    white-space: nowrap;
    color: #9fa0a3;
}


.container-cuatro-parte-dos{
    margin-top: 185px;
    position: absolute;

    margin-left: 21rem;

}

.container-cuatro-parte-dos img{
    width: 30px;
    height: 30px;
}

.container-cuatro-parte-dos-iconos-parte-uno{
    display: flex;
}

.container-cuatro-parte-dos-iconos-parte-uno ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    list-style: none;
}

.container-cuatro-parte-dos li{
    padding-left: 18px;
}

.container-cuatro-parte-dos-iconos-parte-uno ul div{
    background-color: white;
    border-radius: 50%;
    width: 65px;
    height: 65px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 5px 30px 60px #bdbdc0;
}

.container-cuatro-parte-dos-iconos-parte-dos{
    display: flex;
    margin-left: 42px;
}

.container-cuatro-parte-dos-iconos-parte-dos ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
    list-style: none;
}

.container-cuatro-parte-dos-iconos-parte-dos ul div{
    background-color: white;
    border-radius: 50%;
    width: 65px;
    height: 65px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 5px 30px 60px #bdbdc0;
}


/*===============================================================*/
/*                                                               */
/*===============================================================*/





/*===============================================================*/
/*                 CONTENEDOR DE LA ESTRUCTURA 5                 */
/*===============================================================*/

.container-cinco-estructura{
    padding-top: 20px;
    padding-bottom: 5rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 15rem;
}

.container-cinco-parte-uno h2, .container-cinco-parte-uno p{
    margin: 0;
    white-space: nowrap;
}

.container-cinco-parte-uno-texto-uno{
    padding-bottom: 20px;
    font-size: larger;
    color: var(--color-most-used);
}

.container-cinco-parte-uno-texto-uno h2{
    font-size: 40px;
} 

.container-cinco-parte-uno-texto-dos{
    font-size: 16px;
    color: var(--color-gray);
}


.container-cinco-parte-uno-texto-dos{
    padding-bottom: 50px;
}


.container-cinco-parte-uno-boton{
    display: flex;
    align-items: center;
    text-align: center;
}

.container-cinco-parte-uno-boton button{
    padding: 10px 30px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid var(--color-principal);
    cursor: pointer;
}

.container-cinco-parte-uno-boton button:hover{
    background-color: var(--color-principal);
    color: var(--color-white);
}


.container-cinco-parte-dos{
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 800px;
    height: 400px;

    padding-bottom: 90px;
}

.container-cinco-parte-dos img{
    width: 40px;
}

.container-cinco-parte-dos h3{
    color: var(--color-most-used);
}

.container-cinco-parte-dos p{
    color: var(--color-gray);
}

.container-cinco-parte-dos-cajas{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color:#edeeff;

    border-radius: 20px;
    padding: 20px 5px;
    margin-bottom: 20px;

    transition: margin 1s ease-in-out;
}

.container-cinco-parte-dos-cajas-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin-left: 15px;
    margin-right: 35px;
}

.container-cinco-parte-dos-cajas-texto{
    white-space: nowrap;
}

.container-cinco-parte-dos-cajas-texto-subtitulo {
    padding-bottom: 10px;
}

.container-cinco-parte-dos-cajas-texto h3{
    margin: 0;
}

.container-cinco-parte-dos-cajas-texto-descripcion{
    white-space: nowrap;
}

.container-cinco-parte-dos-cajas-texto-descripcion p{
    margin: 0;
    padding-bottom: 4px;
    font-size: 14px;
}




/* Efecto de sombra arriba y abajo */
.container-cinco-parte-dos::before,
.container-cinco-parte-dos::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100px; /* Ajusta el tamaño de la sombra */
    z-index: 2;
    pointer-events: none; /* Para que no interfiera con los clics */
}

/* Sombra superior en blanco */
.container-cinco-parte-dos::before {
    top: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), transparent);
}

/* Sombra inferior en blanco */
.container-cinco-parte-dos::after {
    bottom: 0;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.8), transparent);
}



/* Diferentes posiciones con márgenes ajustados */
.pos1 { margin-left: 100px;} /* Mucho espacio a los lados */
.pos2 { margin-right: 0px;} /* Espacio medio */
.pos3 { margin-left: 50px; } /* Poco espacio */
.pos4 { margin-left: 100px; }    /* Sin espacio lateral */


/*===============================================================*/
/*                                                               */
/*===============================================================*/




/*===============================================================*/
/*                 CONTENEDOR DE LA ESTRUCTURA 6                 */
/*===============================================================*/

.container-seis-estructura{
    position: absolute; /* Se ajusta dentro de su contenedor */
    top: 178rem;
    left: 0;
    width: 100%; /* Ocupa todo el ancho de su padre */
    height: 100%; /* Ocupa todo el alto de su padre */
    background-image: url('image/Group1.png');
    background-size: cover;
    background-position: center;

    z-index: -1;
}

.container-seis-contenido{
    justify-content: center;
    text-align: center;
    align-items: center;

    padding-top: 80px;
}

.container-seis-contenido-titulo h1, .container-seis-contenido-descripcion p{
    margin: 0;
}

.container-seis-contenido-titulo{
    margin-bottom: 15px;
}

.container-seis-contenido-titulo h1{
    font-size: 50px;
    color: var(--color-most-used);
}

.container-seis-contenido-descripcion{
    margin-bottom: 20px;
}

.container-seis-contenido-descripcion p{
    color: var(--color-gray);
}

.container-seis-contenido-boton{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.container-seis-contenido-boton button{
    background-color: var(--color-principal);
    color: var(--color-white);
    border-radius: 10px;
    border: 0;
    padding: 2px 20px;

    text-align: center;
    justify-content: center;
}


.container-seis-contenido-iconos ul{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 70px;
}

.container-seis-contenido-iconos div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.modo-circulo{
    margin: 50px auto; /* Centrar el círculo */
}

.modo-circulo-dos{
    position: relative;
    bottom: 30px;
}

.modo-circulo-tres{
    position: relative;
    bottom: 60px;
}

.modo-circulo-cuatro{
    position: relative;
    bottom: 30px;
}
/*===============================================================*/
/*white-space: nowrap;                                                               */
/*===============================================================*/




/*===============================================================*/
/*                 CONTENEDOR DE LA ESTRUCTURA 7                 */
/*===============================================================*/

.container-siete-estructura{
    background-color: var(--color-principal);
    color: var(--color-white);
    display: flex;
    margin-top: 36rem;

    border-radius: 10px;

    margin-left: 5%;
    margin-right: 5%;

    text-align: center;
    align-items: center;
    justify-content: center;

    gap: 50px;

    padding: 20px 0;

    z-index: 2;
}

.container-siete-contenido-uno{
    text-align: left;
}

.container-siete-contenido-uno h1{
    margin: 0;
    font-size: 45px;
}

.container-siete-contenido-botones button{
    background-color: var(--color-principal);
    color: var(--color-white);
    border-radius: 10px;
    border: 1px solid var(--color-white);

    padding: 0 30px;
    margin-right: 10px;
    cursor: pointer;
}

.container-siete-contenido-botones button:hover{
    background-color: var(--color-white);
    color: var(--color-principal);
}

.container-siete-contenido-dos{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 40px;
}

.container-siete-contenido-dos div{
    margin-right: 20px;
}

.container-siete-contenido-dos-imagen-uno {
    margin-bottom: 40px;
}
.container-siete-contenido-dos-imagen-dos{
    margin-top: 50px;
}

/*===============================================================*/
/*                                                               */
/*===============================================================*/





/*===============================================================*/
/*                 CONTENEDOR DE LA ESTRUCTURA 8                 */
/*===============================================================*/

.container-ocho-estructura{
    color: var(--color-most-used);
    margin-top: 20px;

    border-radius: 10px;

    margin-left: 5%;
    margin-right: 5%;

    gap: 50px;

    padding: 20px 0;

    z-index: 2;

    display: flex;
    justify-content: space-between;
}

.container-ocho-contenido-titulo{
    margin-bottom: 20px;
}

.container-ocho-contenido-titulo span{
    font-family: "Abril Fatface", serif;
}

.container-ocho-contenido-titulo h1{
    margin: 0;
    font-size: 45px;
}

.container-ocho-contenido-informacion   {
    margin-bottom: 40px;
}

.container-ocho-contenido-informacion p{
    margin: 0;
    color: var(--color-gray);
}

.container-ocho-contenido-dos{
    gap: 10px;
    display: flex;
    align-items: center;
}

.container-ocho-contenido-dos-campo input{
    border: none;
    border-bottom: 1px solid var(--color-gray);
}

.container-ocho-contenido-dos-campo input{
    padding-top: 10px;
}



.container-ocho-contenido-dos-boton p{
    font-size: 10px;
    font-weight: bold;
}


.container-ocho-contenido-dos-boton button{
    background-color: var(--color-principal);
    color: var(--color-white);
    border: 1px solid var(--color-principal);
    border-radius: 10px;
    cursor: pointer;
}

.container-ocho-contenido-final-texto{
    font-size: 20px;
    margin-bottom: 20px;
}

.container-ocho-contenido-final-texto p{
    margin: 0;
}

.container-ocho-contenido-final-info div{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid var(--color-gray);
}

.container-ocho-contenido-final-info div p{
    color: var(--color-gray);
}

.container-ocho-contenido-final-info div:last-child {
    border-bottom: none; /* Elimina la línea del último elemento */
}
/*===============================================================*/
/*                                                               */
/*===============================================================*/